@import "abstracts/mixins";

.selectList {
  background-color: $structure;
  display: block;
  margin: 0;
  max-height: 100vh;
  overflow-y: auto;
  padding: 0;

  &:focus {
    outline: none;
  }

  &ShowFocus {
    @include focus-indicator-disappear;

    &:focus {
      @include focus-indicator-appear;
    }
  }
}
