:root {
  --black: #000000;
  --blue: #0172ce;
  --dark-grey: #666666;
  --dark-grey-blue: #758692;
  --light-grey: #eef1f5;
  --medium-grey: #c3c3c3;
  --pink: #ffefef;
  --red: #c8102e;
  --white: #ffffff;
  --yellow: #fedb00;
}

:root[data-theme-type="DARK"] {
  --background: #121212;
  --disabled: #2f2f2f;
  --drop-shadow-color: transparent;
  --error: #5b2e2e;
  --focus: #90caf9;
  --negative: #c8102e;
  --selected: #0172ce;
  --structure: #666666;
  --structure-active: #a49797;
  --structure-hover: #818282;
  --surface: #272828;
  --on-background: #dedede;
  --on-background-disabled: #666666;
  --on-background-hover: #2d3d48;
  --on-background-low: #7f8595;
  --on-disabled: #666666;
  --on-error: #c8102e;
  --on-negative: #ffffff;
  --on-primary: #ffffff;
  --on-selected: #ffffff;
  --on-surface: #ffffff;
  --on-surface-low: #7f8595;
  --on-structure: #ffffff;
  --on-structure-low: #bfc7d2;
}

:root[data-theme-type="LIGHT"] {
  --background: #ffffff;
  --disabled: #ffffff;
  --drop-shadow-color: rgba(0, 0, 0, 0.5);
  --error: #5b2e2e;
  --focus: #0172ce;
  --negative: #c8102e;
  --selected: #0172ce;
  --structure: #ffffff;
  --structure-active: #d1e9ec;
  --structure-hover: #e2f3fd;
  --surface: #ffffff;
  --on-background: #000000;
  --on-background-disabled: #666666;
  --on-background-hover: #e2f3fd;
  --on-background-low: #7f8595;
  --on-disabled: #666666;
  --on-error: #c8102e;
  --on-negative: #ffffff;
  --on-primary: #ffffff;
  --on-selected: #ffffff;
  --on-surface: #000000;
  --on-surface-low: #7f8595;
  --on-structure: #000000;
  --on-structure-low: #7f8595;
}
