:root {
  --black: #000000;
  --blue: #0172ce;
  --dark-grey: #666666;
  --dark-grey-blue: #758692;
  --light-grey: #eef1f5;
  --medium-grey: #c3c3c3;
  --pink: #ffefef;
  --red: #c8102e;
  --white: #ffffff;
  --yellow: #fedb00;
}
