@import "abstracts/variables";

.error {
  color: $negative;
  font-size: $font-size-small;
  margin-block-start: $spacing-4;
}

.help {
  color: $on-background-low;
  display: block;
  font-size: $font-size-small;
  margin-block-start: $spacing-4;
}

.label {
  margin-block-end: $spacing-8;
}
