@import "abstracts/mixins";

.input {
  @include body-regular;
  @include reset-input;

  background-color: transparent;
  color: $on-background;

  &:focus {
    outline: none;
  }
}

.list {
  @include reset-ul;

  background-color: $structure;
  max-height: 40vh;
  overflow-y: auto;
}

.popper {
  @include drop-shadow;
}

.searchSelect {
  @include focus-indicator-disappear($border-width-1);

  align-items: center;
  border: $border-width-1 solid $on-structure-low;
  border-radius: $border-radius-4;
  display: inline-flex;
  padding: $spacing-4 $spacing-8;

  &Error {
    background-color: $error;
    border-color: $on-error;
  }

  &Focused {
    @include focus-indicator-appear($border-width-1);
  }
}
