@import "abstracts/mixins";

.dropdownArrow {
  fill: $on-background;
  height: $body-height;
  width: $body-height;
}

.showButton {
  @include reset-button;
  border-radius: 999px;
  display: inline-flex;
  margin-inline-start: $spacing-4;
}

.showButton:active {
  background-color: $medium-grey;
}

.showButton:hover:not(:active) {
  background-color: $light-grey;
}
