@import "abstracts/mixins";

.clearButton {
  @include reset-button;

  border-radius: 999px;
  display: inline-flex;
}

.clearButton:active {
  background-color: $medium-grey;
}

.clearButton:hover:not(:active) {
  background-color: $background-hover;
}

.icon {
  fill: $on-background;
  height: 24px;
  width: 24px;
}
