@import "abstracts/mixins";

.anchor {
  @include focus-indicator-disappear;

  border-radius: $border-radius-2;

  &:active,
  &:link,
  &:visited {
    color: $primary;
    text-decoration: underline;
  }

  &:focus {
    @include focus-indicator-appear;
    outline: none;
  }

  &:focus,
  &:hover {
    color: $background-hover;
  }

  &:lang(ar) {
    text-decoration: none;
  }
}
