@import "abstracts/mixins";

$border-width: $border-width-1;

.button {
  @include body-regular;
  @include reset-button;
  @include focus-indicator-disappear($border-width);

  align-items: center;
  background-color: $background;
  border: $border-width solid $on-background;
  border-radius: $spacing-4;
  color: $on-background;
  display: inline-flex;
  padding-block-end: $spacing-4;
  padding-block-start: $spacing-4;
  padding-inline-end: $spacing-8;
  padding-inline-start: $spacing-8;
}

.button:focus {
  @include focus-indicator-appear($border-width);

  outline: none;
}

.button:hover {
  background-color: $on-background-hover;
}

.buttonPopoverOpen {
}

.endAdornment {
  fill: $on-background;
  height: $body-height;
  margin-inline-start: $spacing-4;
  width: $body-height;
}

.label {
  max-width: 16rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
