@import "abstracts/mixins";

$border-width: $border-width-1;

.container {
  @include focus-indicator-disappear($border-width);

  align-items: center;
  background-color: $background;
  border: $border-width solid $on-background-low;
  border-radius: $border-radius-4;
  display: inline-flex;

  &Focused {
    @include focus-indicator-appear($border-width);
  }

  &Disabled {
    background-color: $disabled;
    color: $on-disabled;
  }

  &Error {
    background-color: $error;
  }

  &ErrorBlurred {
    border-color: $on-error;
  }
}

.input {
  @include font-body-regular;
  @include reset-input;

  background-color: transparent;
  border-radius: $border-radius-4;
  color: $on-background;
  padding: $spacing-4 $spacing-8;

  &:focus {
    outline: none;
  }
}
