@import "abstracts/mixins";

$border-width: 1px;
$checkbox-height: 18px;
$checkbox-width: 18px;

.input + .checkbox {
  @include focus-indicator-disappear($border-width);

  border: $border-width solid $black;
  border-radius: $border-radius-4;
  display: inline-block;
  height: $checkbox-height;
  width: $checkbox-width;
}

.input:checked + .checkbox {
  background-color: $blue;
  border-color: $blue;
}

.input:disabled + .checkbox {
  background-color: $dark-grey-blue;
  border-color: $dark-grey-blue;
}

.input:disabled:not(:checked) + .checkbox {
  background-color: $light-grey;
}

.input:focus + .checkbox {
  @include focus-indicator-appear($border-width);
}

.input:checked + .checkboxError {
  background-color: $red;
  border-color: $red;
}

.input + .checkboxError {
  background-color: $pink;
  border-color: $red;
}

.checkmark {
  fill: $white;
  height: 100%;
  width: 100%;
}

.container {
  align-items: center;
  display: inline-flex;
  position: relative;
}

.input {
  @include reset-input;

  height: $checkbox-height;
  opacity: 0;
  position: absolute;
  width: $checkbox-width;

  &:focus {
    outline: none;
  }
}

.label {
  padding: 0 $spacing-4;

  &Error {
    color: $red;
  }
}

.input:disabled ~ .label {
  color: $dark-grey;
}
