@import "abstracts/mixins";

.app {
  padding: $spacing-16;
}

.button {
  margin-bottom: $spacing-16;
}

.formControl {
  margin-bottom: $spacing-16;
}

.main {
  border: 1px solid $black;
  padding: $spacing-16;
}

.menu {
  padding: $spacing-16;
}

.popper {
  @include drop-shadow;
}

.popperBox {
  background-color: $white;
}
