@import "abstracts/mixins";

$border-width: $border-width-1;

.container {
  @include focus-indicator-disappear($border-width);

  border: $border-width solid $dark-grey-blue;
  border-radius: $border-radius-4;
  display: inline-flex;

  &:focus-within {
    @include focus-indicator-appear($border-width);
  }
}

.input {
  @include font-body-regular;
  @include reset-input;

  border-radius: $border-radius-4;
  padding: $spacing-4 $spacing-8;

  &:disabled {
    background-color: $light-grey;
  }

  &:focus {
    outline: none;
  }

  &Error {
    background-color: $pink;
    border-color: $red;
  }
}
