@import "abstracts/variables";

.checkbox {
  background-color: $white;
  border-radius: $border-radius-4;
  height: $font-size-body;
  width: $font-size-body;
}

.checkboxChecked {
  background-color: $blue;
}

.checkboxUnchecked {
  border-color: $dark-grey-blue;
  border-style: solid;
  border-width: $border-width-1;
}

.checkmark {
  height: 100%;
  fill: $white;
  width: 100%;
}
