@import "abstracts/variables";

.option {
  align-items: center;
  color: $on-structure-low;
  display: flex;
  list-style: none;
  padding-inline-end: $spacing-8;
  padding-inline-start: $spacing-8;
  padding-block-end: $spacing-16;
  padding-block-start: $spacing-16;
  user-select: none;
}

.optionActive {
  background-color: $structure-active;
  color: $on-structure;
}

.optionSelected {
  color: $on-structure;
}

.startAdornment {
  margin-inline-end: $spacing-8;
}
