@import "abstracts/variables";

.option {
  list-style: none;
  padding: $spacing-8 $spacing-16;
  user-select: none;

  &:hover {
    background-color: $structure-hover;
  }
}

.optionSelected {
  background-color: $selected;
  color: $on-selected;

  &:hover {
    background-color: $selected;
  }
}
